.nav, .pagination, .carousel, .panel-title a, a[ng-click] { cursor: pointer; }

*:focus {outline:0 !important; }

header {
  background-color: #666;
  padding: 1em 0em;
}

#logo {
    color: white;
    font-size: 2.5em;
}

#logo-accent {
    color: cyan;
}

#main-table, #table-control {
  margin-top: 1em;
}

#table-results {
    font-size: 2em;
}

#main-table tbody tr {
    cursor: pointer;
}

#main-table thead a {
    border-bottom: 1px solid transparent;
}

#main-table thead a.dotted {
    border-bottom: 1px dotted;
}